<div class="theme-orange">

  <%= render 'home/shared/header' %>

  <div id='content' role='main'>
    <section class='section' id='section-inner'>
      <div class='container'>
        <header class='page-header' style="margin-bottom:0">
          <h1>
            Resend &nbsp; Confirmation&nbsp; Instructions
          </h1>
        </header>
        <div class="pull-center">
          <div class="well span5 offset3 shadow-box"> 
            <% flash.each do |key, value| %>
                <div class="well alert alert-<%= key %>"><%= value %></div>
            <% end %>
						<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
						  <%= devise_error_messages! %>

						  <div><%= f.label :email %><br />
						  <%= f.email_field :email %></div>

						  <div><%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %></div>
						<% end %>
						<hr>
						<%= render "devise/shared/links" %>
					</div>
        </div>
      </div>
      <div class='bg-2'></div>
    </section>
  </div>
</div>
