<% get_sidebar_info() %>
<%= render 'layouts/opening_divs' %>
<div class="mycelial_page page">
  <%= render 'layouts/span8_well' %>
  <div class="mycelial-page-header">
  <h2 class="mycelial-page-title">Edit your account info</h2>
  <span class="arrow mycelial_page_arrow"></span>
  </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><label><%= f.label :email %></label>
      <%= f.email_field :email %></div>

      <div><label><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></label>
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><label><%= f.label :password_confirmation %></label>
      <%= f.password_field :password_confirmation %></div>

      <div><label><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></label>
      <%= f.password_field :current_password %></div>

      <div><%= f.submit "Update", class: "btn btn-primary" %></div>
    <% end %>

    <%= link_to "Back", :back %>
  </div>
</div>
<%= render 'layouts/closing_divs' %>