<div class="theme-orange">

  <%= render 'home/shared/header' %>

  <div id='content' role='main'>
    <section class='section' id='section-inner'>
      <div class='container'>
        <header class='page-header margin_bottom_0'>
          <h1>
            Sign &nbsp;up &nbsp;in &nbsp;a &nbsp;flash
          </h1>
          <span class="size_18">Build your page</span>
        </header>
        <div class="pull-center">
          <div class="well span5 offset3 shadow-box"> 
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <div>
              <label><%= f.label :username %></label>
              <%= f.text_field :username %>
            </div>

            <div>
              <label><%= f.label :email %></label>
              <%= f.email_field :email %>
            </div>

            <div><label><%= f.label :password %></label>
              <%= f.password_field :password %>
            </div>

            <div><label><%= f.label :password_confirmation %></label>
              <%= f.password_field :password_confirmation %>
            </div>

            <div><%= f.submit "Sign up", class: "btn btn-info", id: "register_button" %>
            </div>
            <div id="register_loader" style="display:none">
              <%= image_tag "ajax-loader.gif" %>
            </div>
            <% end %>
            <span>Already have an account?</span>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
      <div class='bg-2'></div>
    </section>
  </div>
</div>

