
<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'sprocket.png', :height => 335, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Sprocket App: Neighborhood Demographics</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'briarpatch.png', :height => 335, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Briarpatch App: Share and follow bookmarks</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<!--BEGIN .hentry -->
<div class="post type-post format-quote hentry category-quotes">
  <!--BEGIN .quote-wrap -->
  <div class="quote-wrap clearfix">
    <span class="icon"></span>
    <blockquote>
      Blog Post: R-Strategy, a hacker's method.                      
    </blockquote>
    <!--END .quote-wrap -->
  </div>
  <span class="arrow"></span>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget.</p>
    <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
      <a href="http://demo.themezilla.com/gridlocked/post-formats/"><span class="icon"></span>468 days ago</a>
    </li>
    <li class="like-count">
      <a href="#" class="likeThis" id="like-258"><span class="icon"></span><span class="count">282</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/post-formats/#comments" title="Comment on Post Formats"><span class="icon"></span> 4</a>    
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
  <!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'manifoldz.png', :height => 249, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Manifoldz: Spatial Link Mapping</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'fretlight.png', :height => 258, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Fretlight Guitar</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'tallac.png', :height => 177, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Tallac Interactive: My old web design and development business</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'potato.png', :height => 270, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">My 10-foot steel potato cannon</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
        <%= image_tag 'genesis.png', :height => 270, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Member of the NASA Genesis Team: Berkeley Space Sciences Lab</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
      <%= image_tag 'chem.png', :height => 348, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Co-author of a newly discovered organic molecule: University of Colorado</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>

<div class="post type-post format-image hentry">  
  <div class="post-thumb clearfix">
    <a href="http://turbo.themezilla.com/gridlocked/files/2011/05/2.jpg">
      <%= image_tag 'tallac-1.png', :height => 190, :width => 360, :style => 'border:1px solid #ddd' %>
    </a>
  </div>
  <div class="arrow"></div>
  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/funky/" title="Permalink to: Funky (Image Format)">Version 1 of Tallac Interactive</a></h2>
  <!--BEGIN .entry-content -->
  <div class="entry-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
  <!--END .entry-content -->
  </div>
  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">
    <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/funky/"><span class="icon"></span>470 days ago</a>
    </li>
    <li class="like-count">
        <a href="#" class="likeThis" id="like-356"><span class="icon"></span><span class="count">119</span></a>    
    </li>
    <li class="comment-count">
      <a href="http://demo.themezilla.com/gridlocked/funky/#comments"><span class="icon"></span> 4</a>   
    </li>
    <!--END .entry-meta entry-header -->
  </ul>
<!--END .hentry-->  
</div>