<div class="theme-orange">

  <%= render 'home/shared/header' %>

  <div id='content' role='main'>
    <section class='section' id='section-inner'>
      <div class='container'>
        <header class='page-header margin_bottom_0'>
          <h1>
            Forgot &nbsp; Your&nbsp; Password?
          </h1>
        </header>
        <div class="pull-center">
          <div class="well span5 offset3 shadow-box"> 
            <% flash.each do |key, value| %>
                <div class="well alert alert-<%= key %>"><%= value %></div>
            <% end %>
						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
						  <%= devise_error_messages! %>

						  <div><%= f.label :email, "Enter Your Email Address" %><br />
						  <%= f.email_field :email %></div>

						  <div><%= f.submit "Send me reset password instructions", class: "btn btn-primary" %></div>
						<% end %>
						<hr>
						<%= render "devise/shared/links" %>
					</div>
        </div>
      </div>
      <div class='bg-2'></div>
    </section>
  </div>
</div>
