
<div class="theme-orange">

	<%= render 'home/shared/header' %>

	<div id='content' role='main'>
	  <section class='section' id='section-3'>
	  <div class='container'>
	    <header class='page-header'>
	      <h1>
	        One &nbsp;Place &nbsp;for &nbsp;All &nbsp;of &nbsp;your &nbsp;Projects
	      </h1>
	      <span style="font-size:18px">A Portfolio for a <span style="color:#FF6405">Hacker's</span> Life</span>
	    </header>
	    <div style="text-align:center; margin-top:-30px">
	    	<%= image_tag "landing_page/browser-landing.png" %>
	    </div>  
	  </div>
	  <div class='bg-2'></div>
	</section>
	  <section class='section' id='section-4'>
	    <div class='container'>
	      <header class='page-header'>
	        <h1>
	          Post &nbsp;your &nbsp;Rails &nbsp;apps, &nbsp;blog &nbsp;posts, &nbsp;and &nbsp;home-made &nbsp;telescopes...
	          <small>Any project that shows the real you</small>
	        </h1>
	      </header>
	      <div class='row-fluid'>
	        <div style="text-align:center">
	          <a class="btn btn-large btn-primary landing_buttons" href="/pages/dsowers" type="button">Check out the Demo Page</a>
	          <a class="btn btn-large btn-warning landing_buttons" href="/users/sign_up" type="button">Build Your Page</a>
	        </div>
	      </div>
	      <br/>
	      <br/>
	      <br/>
	      <div class='row-fluid'>
	        <div class="well span12 landing_description">
	        	<div style="text-align:center">
	          <h4>Why &nbsp;use &nbsp;Mycelial?</h4>
	          </div>
	          <p>There are plenty of sites which allow us to share our code, designs and writing, but there was nothing that consolidates all of a hacker's projects into one portfolio. You can now display all of your interests and accomplishments with a Mycelial page
	(much better than a resume for people who get stuff done).</p>
	        </div>
	      </div>
	    </div>
	    <div class='bg-1'></div>
	  </section>
	  <section class='section' id='section-5'>
	    <div class='container'>
	      <header class='page-header'>
	        <h1>
	          Sign up for updates
	          <small>I won't spam you</small>
	        </h1>
	      </header>
	      <form class='form-search pull-center'>
	        <div class='input-append input-signup'>
	          <input class='span3' id='email' placeholder='type your email' size='16' type='text' />
	          <button class='btn' id='submitEmail' type='button'></button>
	        </div>
	      </form>
	      <div id='messages'></div>
	      <div class='row-fluid'>
	        <ul class='social'>
	          <li>
	            <a href='#'>
	            	<%= image_tag "landing_page/social-twitter.png" %>
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	            	<%= image_tag "landing_page/social-facebook.png" %>
	            </a>
	          </li>
	          <li>
	            <a href='#'>
	            	<%= image_tag "landing_page/social-linked.png" %>
	            </a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class='bg-1'></div>
	    <div class='bg-2'></div>
	  </section>
	</div>
</div>