<%= render 'layouts/opening_divs' %>
<div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <% if @page.image_url %>
    <%= image_tag @page.image_url(:large).to_s, class: "float_left margin_right_15 margin_bottom_15" %>
  <% else %>
    <!-- show default image -->
    <% n = Random.new %>
    <%= image_tag get_random_default(n.rand(1..4)).to_s, class: "float_left margin_right_15 margin_bottom_15" %>
  <% end %>
  <h2 class="color_777">About <%= @page.name %></h2>
  <p><%= @page.about_text %></p>
</div>
</div>
<%= render 'layouts/closing_divs' %>