  <%= render 'layouts/span8_well' %>
    <%= render 'layouts/errors' %>
    <%= form_for(@page, :html => { :multipart => true, :class => "form-horizontal" } ) do |f| %>
    <div class="control-group">
      <%= f.label :name,  class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :name, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :hnusername, "HN Username", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :hnusername, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :linkedin_username, "LinkedIn Username", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :linkedin_username, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :personal_site, "Personal Site", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :personal_site, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :github_username, "GitHub Username", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :github_username, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :about_text, "A Litte About Me", class: "control-label required" %>
      <div class="controls">
        <%= f.text_area :about_text, :cols => 80, :rows => 8%>
      </div>
    </div>

    <div class="controls">
    <%= image_tag @page.image_url(:thumb).to_s %>
    <br/><br/>
    </div>

    <div class="control-group">
      <%= f.label :image, "Upload a Profile Picture", class: "control-label required" %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remote_image_url, "Or enter the url of an image", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :remote_image_url %>
      </div>
    </div>

    <%= f.submit "Save changes", class: "btn btn-info" %>
    <hr>
    <% if @projects.empty? %>
      <h2>You don't have any projects added yet. Add a project with the buttons below</h2>
    <% else %>
    <div class="row">
    <div style="float:right">
      <a href="/projects/new" class="button orange">Add another project</a>
    </div>
    <div class="span6">
    <h2>Your Projects</h2>
    <p>Add another project with the button to the right, or click on a project to edit</p>
    </div>
    </div>
    <hr style="margin-top:0;">
    <table class="table table-striped">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Short Description</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |p| %>
              <tr>
                <td><b><%= link_to "#{p.project_name}", "/projects/#{p.id}/edit" %></a></b></td>
                <td><b><%= link_to "#{p.short_description}", "/projects/#{p.id}/edit" %></a></b></td>
                <td><b><%= link_to "#{p.created_at}", "/projects/#{p.id}/edit" %></b></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    <% end %>
    <p></p>
    <% end %>
  </div>
</div>
