<%= render 'layouts/opening_divs' %>
  <div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <div class="mycelial-page-header">
  <h2 class="mycelial-page-title"><% if params[:new_user] %>Build Your Page<% else %>Edit Your Page<% end %></h2>
  <span class="arrow" style="margin-left:700px; margin-top:60px;"></span>
  </div>
    <%= render 'shared/errors', :target => @page %>
    <%= render 'shared/flash_messages' %>
    <br/>
    <% if params[:new_user] %>
     <h2 class="dark-grey size-20">Get started by filling out a little about you (many fields are optional)</h2>
     <hr>
    <% end %>
    <%= form_for(@page, :html => { :multipart => true, :class => "form-horizontal" }, :validate => true) do |f| %>
    <div class="control-group">
      <%= f.label :name, "Full Name", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :name, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :hnusername, "HN Username", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :hnusername, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :linkedin_username, "LinkedIn Public URL", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :linkedin_username, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :personal_site, "Personal Site", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :personal_site, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :twitter_username, "Twitter Username", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :twitter_username, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :github_username, "GitHub Username", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :github_username, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :about_text, "A Litte About Me", class: "control-label" %>
      <div class="controls">
        <%= f.text_area :about_text, class: "input-xlarge" %>
      </div>
    </div>

    <% if @page.image_url %>
    <div class="controls">
    <%= image_tag @page.image_url(:thumb).to_s %>
    <br/><br/>
    </div>
    <% end %>

    <div class="control-group">
      <%= f.label :image, "Upload a Profile Picture", class: "control-label" %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :remote_image_url, "Or enter the url of an image online", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :remote_image_url %>
      </div>
    </div>
    <% if params[:new_user] %>
      <%= f.hidden_field :new_user, value: 1 %>
    <% end %>
    <%= f.submit "Save changes", class: "btn btn-info" %>

    <% unless params[:new_user] %>
    <hr>
    <% if @projects.empty? %>
    <h2>You don't have any projects added yet. Add a project with the buttons below</h2>
    <a href="" class="btn btn-large btn-warning" style="float:right">Add a project to your page</a>
    <% else %>
    <div class="row">
    <div style="float:right">
      <a href="/projects/new_project" class="btn btn-large btn-success">Add a new project +</a>
    </div>
    <div class="span6">
    <h2>Your Projects</h2>
    <p>Add another project with the button to the right, or click on a project to edit</p>
    </div>
    </div>
    <hr style="margin-top:0;">
    <table class="table table-striped">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Short Description</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |p| %>
            <% p.project_name.length >= 37 ? project_name = p.project_name.slice(0,37) + "..." : project_name = p.project_name %>
            <% p.short_description.length >= 52 ? short_description = p.short_description.slice(0,52) + "..." : short_description = p.short_description %>
              <tr>
                <td><b><%= link_to "#{project_name}", "/projects/#{p.id}/edit" %></a></b></td>
                <td><b><%= link_to "#{short_description}", "/projects/#{p.id}/edit" %></a></b></td>
                <td><b><%= link_to "#{time_ago_in_words(p.created_at)} ago", "/projects/#{p.id}/edit" %></b></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<%= render 'layouts/admin_right_sidebar.html.erb' %>
<%= render 'layouts/closing_divs' %>