<%= render 'layouts/opening_divs' %>
<div class="hentry page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <%= render 'shared/flash_messages' %>
    <h2 style="color:#777">All User Pages</h2>
    <b>Total User Count: <%= @users_count %></b><br/>
		<% @pages.each do |page| %>
			<% if username = page.user.username %>
      <%= link_to page.name, page_path(:id => page.user.username) %> | Created <%= time_ago_in_words(page.created_at) %> ago | <%= page.user.email %> | Projects Count: <%= page.projects.count %> <br/>
      <% end %>
    <% end %>
	</div>
</div>
<%= render 'layouts/closing_divs' %>