<%= render 'layouts/opening_divs' %>

<% unless !@projects or @projects == [] %>
<% @projects.each do |p| %>
  <% if p.project_type == 2 #blog %>
    <% if p.picture.blank? #text-widget %>
      <%= render :partial => 'pages/project_widget', :locals => { :widget_number => 1, :p => p } %>
    <% else #picture widget. Prepend blog to the title %>
      <%= render :partial => 'pages/project_widget', :locals => { :widget_number => 2, :p => p } %>
    <% end %>
  <% else #programming or other widget %>
    <% if p.picture.blank? #text widget %>
      <%= render :partial => 'pages/project_widget', :locals => { :widget_number => 3, :p => p } %>
    <% else #main picture widget %>
      <%= render :partial => 'pages/project_widget', :locals => { :widget_number => 4, :p => p } %>
    <% end %>
  <% end %>
<% end %>
<% else %>
<div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <% if user_signed_in? && current_user.username == params[:id].to_s %>
    <h2 class="color_111">Get Started: Add some projects to your page with the button below</h2>
    <a href="/pages/<%= current_user.page.id %>/edit?new_user=1" class="btn btn-large btn-warning">Build my page</a>
  <% else %>
    <% if controller?('pages') %>
    <h2 class="color_111">This user has not added any projects to their page yet.</h2>
    <hr>
    <% end %>
    <%= image_tag "404-monster.jpg" %>
  <% end %>
  </div>
</div>
<% end %>
</div> <!-- end masonry -->
<div class="ready" id="new-posts"></div>
<% if @total_pages > 1 && params[:last_page].to_i != 1 %>
  <div id="load-more-link">
    <a href="#" data-offset="<%= @offset %>" data-pages="<%= @total_pages %>" <% if @user %>data-author="<%= @user.username %>" <% end %> <% if controller?('feed') %> data-feed=1<% end %> <% if controller?('sporeprint') %> data-sporeprint=1 data-projectid = <%= params[:id] %><% end %><% if @tag %> data-tag="<%= @tag.name %>"<% end %>>Load More</a>
  </div>
<% end %>
<%= render 'layouts/closing_divs' %>