<% if @error %>
 <div class="alert alert-error">Error</div>
<% end %>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Order</th>
	    <th>Project Name</th>
	    <th>Short Description</th>
	    <th>Date created</th>
	  </tr>
	</thead>
	<tbody id="project_list" data-update-url="/projects/change_order">
	  <% i = 1 %>
	  <% @projects.each do |p| %>
	  <% p.project_name.length >= 37 ? project_name = p.project_name.slice(0,37) + "..." : project_name = p.project_name %>
	  <% p.short_description.length >= 52 ? short_description = p.short_description.slice(0,52) + "..." : short_description = p.short_description %>
	    <tr id="project_<%= p.id %>">
	      <td><a href="#" style="cursor:move" class="icon-move"></a></td>
	      <td><b><%= link_to "#{project_name}", "/projects/#{p.id}/edit" %></b></td>
	      <td><b><%= link_to "#{short_description}", "/projects/#{p.id}/edit" %></b></td>
	      <td><b><%= link_to "#{time_ago_in_words(p.created_at)} ago", "/projects/#{p.id}/edit" %></b></td>
	    </tr>
	  <% i += 1 %>
	  <% end %>
	</tbody>
</table>
<div id="loading" style="display:none">
	<%= image_tag "ajax-loader.gif" %>
</div>