<div class="well">
<%= render 'shared/errors', :target => @project %>
<h2 style="color:#777">Edit this area:</h2>
<hr>
<%= form_for(@project, :html => { :class => "form-horizontal" }, :validate => true) do |f| %>

<div class="control-group">
	<%= f.label :short_description, "Summary", class: "control-label required" %>
	<div class="controls">
		<%= f.text_area :short_description, :cols => 80, :rows => 5, class: "input-xlarge"  %>
	</div>
</div>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>