<div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <%= render 'shared/errors', :target => @project %>
  <div class="mycelial-page-header">
  	<h2 class="mycelial-page-title">Add or remove tags</h2>
  	<span class="arrow" style="margin-left:700px; margin-top:60px;"></span>
  </div>
	<%= form_for(@project, :html => { :class => "form-horizontal" }) do |f| %>

	<div class="control-group">
	  <%= f.label :tech_tag_tokens, "Main Languages and Technologies (e.g Ruby, Rails, Python)", class: "control-label required" %>
	  <div class="controls tech_tags">
	    <%= f.text_field :tech_tag_tokens, data: {load: @project.tech_tags} %>
	  </div>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>