<%= render 'layouts/opening_divs' %>
<!-- Different form fields will be displayed based on project_type and widget_type. Insert these vars into the db as well, in the controller -->
<div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <div class="mycelial-page-header">
  <h2 class="mycelial-page-title"><%= @project.project_name %></h2>
  <span class="arrow" style="margin-left:700px; margin-top:60px;"></span>
  </div>
    <p>Fill in the fields below.</p>
    <hr>
    <%= render 'shared/errors', :target => @project %>
    <%= form_for(@project, :html => { :class => "form-horizontal" }, :validate => true) do |f| %>
    <div class="control-group">
      <%= f.label :project_name,  class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :project_name, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :short_description, "Short description", class: "control-label required" %>
      <div class="controls">
        <%= f.text_area :short_description, :cols => 80, :rows => 5, class: "input-xlarge"  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :long_description, "Long Description", class: "control-label required" %>
      <div class="controls">
        <%= f.text_area :long_description, :cols => 80, :rows => 10, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tech_tag_tokens, "Main Languages and Technologies (e.g Ruby, Rails, Python)", class: "control-label required" %>
      <div class="controls tech_tags">
          <%= f.text_field :tech_tag_tokens, data: {load: @project.tech_tags} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :other_interesting, "Other interesting things about this project", class: "control-label required" %>
      <div class="controls">
        <%= f.text_area :other_interesting, :cols => 80, :rows => 8, class: "input-xlarge" %>
      </div>
    </div>

    <% unless @project.picture.nil? or @project.picture.blank? %>
    <div id="project_picture_area">
      <div class="controls">
      <%= image_tag @project.picture_url(:thumb).to_s %><br/>
      <%= link_to "Delete this picture", "/projects/delete_picture/#{params[:id]}", :confirm => "Are you sure you want to delete this picture?", :remote => true , :update => { :success => "project_picture_area" } %>
      <br/><br/>
      </div>
    </div>
    <% end %>

    <div class="control-group">
      <%= f.label :picture, "Picture", class: "control-label required" %>
      <div class="controls">
        <%= f.file_field :picture %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, "Project URL", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :url, class: "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :github_repo, "Github Repo", class: "control-label required" %>
      <div class="controls">
        <%= f.text_field :github_repo, class: "input-xlarge" %>
      </div>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render 'layouts/closing_divs' %>
