<%= render 'layouts/opening_divs' %>
<div class="page mycelial_page">
  <%= render 'layouts/span8_well' %>
  <%= render 'shared/errors', :target => @project %>
  <div class="mycelial-page-header">
  	<h2 class="mycelial-page-title">Add or remove tags</h2>
  	<span class="arrow mycelial_page_arrow"></span>
  </div>
	<%= form_for(@project, :html => { :class => "form-horizontal" }) do |f| %>

	<div class="control-group">
		<% if @project.project_type == 1 %>
	  	<%= f.label :tech_tag_tokens, "Main Languages and Technologies (e.g Ruby, Rails, Python)", class: "control-label" %>
	  <% else %>
	  	<%= f.label :tech_tag_tokens, "Tags (e.g. Startups, Arduino, Potato Guns, Telescopes...)", class: "control-label" %>
	  <% end %>
	  <div class="controls tech_tags">
	    <%= f.text_field :tech_tag_tokens, data: {load: @project.tech_tags} %>
	  </div>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>
<%= render 'layouts/closing_divs' %>