<div class="mycelial_sidebar">
	<% unless @project.url.empty? %>
	<a href="<%= @project.url.to_s %>" class="btn">Visit Project Site</a>
	<br/><br/>
	<% end %>
	<strong class="dark_text">More Projects:</strong>
	<hr class="divider_spacer">
	<%= raw show_more_projects(@user_projects) %>
	<br/>
	<div id="like">
	<% if user_signed_in? %>
		<% if like = current_user.likes.find_by_project_id(@project.id) %>
			<%= form_for like, :html => { :method => :delete }, :remote => true do |f| %>
				<%= f.submit "Unlike", class: "btn btn-primary" %>
			<% end %>
		<% else %>
			<%= form_for current_user.likes.build(:project_id => @project.id), :remote => true do |f| %>
				<%= f.hidden_field :project_id %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :username, value: current_user.username %>
				<%= f.submit "Like This Project", class: "btn btn-info" %>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "Like This Project", new_user_session_path, class: "btn btn-info" %>
	<% end %>
	</div>

	<% if user_signed_in? %>
		<%= link_to "Add a Comment", new_comment_path(:project_id => @project.id), class: "lightbox btn btn-danger", :remote => true %>
	<% else %>
		<%= link_to "Add a Comment", new_user_session_path, class: "button navy" %>
	<% end %>
</div>