<div class="mycelial_sidebar" style="display:none">
	<% unless @project.url.empty? %>
	<a href="<%= @project.url.to_s %>" class="btn">Visit Project Site</a>
	<br/><br/>
	<% end %>
	<strong class="dark_text">More Projects:</strong>
	<br/><br/>
	<%= raw show_more_projects(@user_projects) %>
	<br/>
	<div class="like">
	<% if user_signed_in? %>
		<% if like = current_user.likes.find_by_project_id(@project.id) %>
			<%= form_for like, :html => { :method => :delete }, :remote => true do |f| %>
				<%= f.submit "Unlike", class: "btn btn-primary" %>
			<% end %>
		<% else %>
			<%= form_for current_user.likes.build(:project_id => @project.id), :remote => true do |f| %>
				<%= f.hidden_field :project_id %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :username, value: current_user.username %>
				<%= f.submit "Like This Project", class: "btn btn-primary" %>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "Like This Project", new_user_session_path, class: "btn btn-primary", style: "margin-bottom:15px" %>
	<% end %>
	</div>

	<div class="likes_count">
		<% if @likes_count >= 1 %>
			<p><%= link_to pluralize(@likes_count, "person"), like_path(:id => @project.id) %> <%= @likes_count == 0 or @likes_count > 1 ? "like" : "likes" %> this project</p>
		<% end %>
	</div>

	<% if user_signed_in? %>
		<%= link_to "Add a Comment", new_comment_path(:project_id => @project.id), class: "lightbox btn btn-warning", :remote => true %>
	<% else %>
		<%= link_to "Add a Comment", new_comment_path(:project_id => @project.id), class: "btn btn-warning" %>
	<% end %>
</div>