<div class="mycelial_sidebar">
	<b>Back to All Projects?</b>       
	<br/><br/>
	<a href="/projects/new" class="button white">Visit Project Site</a>
	<br/>
	More of Damian's Projects:
	<hr style="padding:0px; margin:0">
	<% @user_projects.each do |f| %>
	<div style="padding:5px;">
		<a href="#"><%= f.project_name %></a>
	</div>
	<hr style="margin:0">
	<% end %>

	<br/>
	<div id="like">
	<% if user_signed_in? %>
		<% if like = current_user.likes.find_by_project_id(@project.id) %>
			<%= form_for like, :html => { :method => :delete }, :remote => true do |f| %>
				<%= f.submit "Unlike", class: "btn btn-primary" %>
			<% end %>
		<% else %>
			<%= form_for current_user.likes.build(:project_id => @project.id), :remote => true do |f| %>
				<%= f.hidden_field :project_id %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :username, value: current_user.username %>
				<%= f.submit "Like This Project", class: "btn btn-info" %>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "Like This Project", new_user_session_path, class: "btn btn-info" %>
	<% end %>
	</div>

	<% if user_signed_in? %>
		<%= link_to "Add a Comment", "/comments/new?project_id=#{@project.id}", class: "lightbox btn btn-danger", :remote => true %>
	<% else %>
		<%= link_to "Add a Comment", new_user_session_path, class: "button navy" %>
	<% end %>
</div>