<!--BEGIN #sidebar .aside-->
<div id="sidebar" class="aside">

   <!-- BEGIN #logo -->
   <div id="logo">
    <!-- <a href="/"><%= image_tag "logo.png" %></a> -->

    <p id="tagline"><h1 style="color:#666; font-size: 35px; font-weight:bold"><i><% if controller.controller_name == 'hackers' %><%= @hacker.name %><% else %>Code is Art<% end %></i></h1></p>

    <!-- END #logo -->
    </div>

<div class="separator clearfix">
   <div class="line"></div>
</div>


<div class="widget">
    <% if user_signed_in? %>
        <h3 class="widget-title"><a href="/hackers/<%= current_user.username %>" <% if controller?('hackers') %>style="color:#333"<% end %>>My Projects <% if controller?('hackers') %>&rarr;<% end %></a></h3>
    <% else %>
        <h3 class="widget-title"><a href="#">Build Your Page</a></h3>
    <% end %>

    <div class="menu-main-container">
        <ul id="menu-main" class="menu">
            <li><a href="http://demo.themezilla.com/gridlocked/elements/">About Me</a></li>
            <% if user_signed_in? %>
            <li><%= link_to 'Account', edit_user_registration_path %>
                <% if controller?('devise/registrations') && action?('edit') %>
                    &rarr;
                <% end %>
            </li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %>
                <% if controller?('devise/registrations') && action?('new') %>
                    &rarr;
                <% end %>
            </li>
            <li><%= link_to 'Login', new_user_session_path %>
                <% if controller?('devise/sessions') && action?('new') %>
                    &rarr;
                <% end %>
            </li>
          <% end %>
        </ul>
    </div>
</div>

<div class="separator clearfix">
    <div class="line"></div>
</div>

<% if controller?('hackers') %>
<div class="widget">
    <h3 class="widget-title">Also find me on:</h3>
    <div class="menu-type-container">
        <ul id="menu-type" class="menu">
            <% unless @hacker.personal_site.empty? %>
                <li style="padding-bottom:10px;"><a href="<%= @hacker.personal_site %>">My Personal Site</a></li>
            <% end %>
            <% unless @hacker.hnusername.empty? %>
                <li style="margin-bottom:5px;"><a href="http://news.ycombinator.com/user?id=<%= @hacker.hnusername %>"><%= image_tag "y18.gif", :size => "16x16" %> Hacker News</a></li>
            <% end %>
            <% unless @hacker.github_username.empty? %>
                <li style="margin-bottom:5px;"><a href="https://github.com/<%= @hacker.github_username %>"><%= image_tag "github.png" %> Github</a></li>
            <% end %>
            <% unless @hacker.linkedin_username.empty? %>
                <li style="margin-bottom:5px;"><a href="<%= @hacker.linkedin_username %>" style="padding-bottom:10px;"><%= image_tag "linkedin.jpeg" %> LinkedIn</a></li>
            <% end %>
        </ul>
    </div>
</div>


<div class="separator clearfix">
    <div class="line"></div>
</div>            
<% end %>

<a href="/"><%= image_tag "logo-hi-res.png" %></a><br/><br/>

<!-- BEGIN #back-to-top -->
<div id="back-to-top">
   <a href="#">
       <span class="icon"><span class="arrow"></span></span>
       <span class="text">Back to Top</span>
   </a>
   <!-- END #back-to-top -->
</div>

<!--END #sidebar .aside-->
</div>