<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <title>Mycelial</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
	<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>

  <%= csrf_meta_tags %>

  <% if signed_in? %>
	  <script type="text/javascript" charset="utf-8">	
	  	<% if Rails.env.development? %> 
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };
	    <% end %>

	    $(function() {
	      var pusher = new Pusher('<%= Pusher.key %>'); 
	      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>);

	      channel.bind('new_comment', function(data) {
	  			msg = 'new messages';
	  			dom_notify(msg);
				});

				function title_notify(msg) {
	  			$.titleAlert(msg);
				}

				function dom_notify(msg) {
				  // $('#notify').text(msg);
				  $('#notify').fadeIn();
				  // setTimeout(function() {
				  //   $('#notify').fadeOut
				  //   ();
				  // }, 20000);
				  title_notify('New Messages');
				}
		  });
	  </script>
  <% end %>
</head>
<body>
    <%= yield %>
</body>
</html>
