<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <title>Mycelial</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>

  <%= csrf_meta_tags %>

  <% if signed_in? %>
	  <script type="text/javascript" charset="utf-8">	
	  	<% if Rails.env.development? %> 
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };
	    <% end %>

	    $(function() {
	      var pusher = new Pusher('<%= Pusher.key %>'); 
	      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>);

	      channel.bind('new_notification', function(data) {
	  			msg = 'new messages';
	  			dom_notify(msg);
				});

				function title_notify(msg) {
	  			$.titleAlert(msg);
				}

				function dom_notify(msg) {
				  // $('#notify').text(msg);
				  $('#notify').fadeIn();
				  // setTimeout(function() {
				  //   $('#notify').fadeOut
				  //   ();
				  // }, 20000);
				  title_notify('New Messages');
				}
		  });
	  </script>
  <% end %>
</head>
<body>
    <%= yield %>
    <% unless controller?('home') or @no_bottom_navbar %>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner" style="height:30px; min-height:30px;">
      	<div style="text-align:center">
          <div class="nav" style="margin-top:-15px; margin-left:25px;">
            <ul class="nav">
            	<li class="active"><a href="/">mycelial</a></li>
              <li><%= link_to "Feed", feed_path %></li>
              <% if user_signed_in? %>
	              <li><%= link_to "Profile", page_path(:id => current_user.username) %></li>
	              <li><%= link_to "Admin", edit_page_path(:id => current_user.page.id) %></li>
	              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <% else %>
	              <li><%= link_to "Create Your Page", new_user_registration_path %></li>
								<li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <% end %>
</body>
</html>
