<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <title>Mycelial</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body class="blog chrome layout-2cr">

  <!-- BEGIN #container -->
  <div id="container" class="clearfix js-disabled">

    <!--BEGIN #content -->
    <div id="content">

      <%= render 'layouts/widget_overlay' %>

      <%= render 'layouts/sidebar' %>
      
      <!--BEGIN #primary .hfeed-->
      <div id="primary" class="hfeed">

        <!--BEGIN #masonry-->
        <div id="masonry">
          <% flash.each do |key, value| %>
          <div class="span8 well alert alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>

        </div>
        <% #render 'layouts/footer' %>
      </div>
    </div>
  </div>
</body>
</html>
