<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <title>GitStage</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.8.20'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.8.20'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-includes/js/jquery/ui/jquery.ui.accordion.min.js?ver=1.8.20'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.8.20'></script>
  <script type='text/javascript' src='http://demo.themezilla.com/gridlocked/wp-content/plugins/zilla-shortcodes/js/zilla-shortcodes-lib.js?ver=3.4.1'></script>

  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/js/jquery.easing.1.3.js?ver=3.4.1'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/js/slides.min.jquery.js?ver=3.4.1'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/js/jquery.masonry.min.js?ver=3.4.1'></script>
  <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/js/jquery.fancybox-1.3.4.pack.js?ver=3.4.1'></script>

  <%= csrf_meta_tags %>
</head>
<body class="blog chrome layout-2cr">

  <!-- BEGIN #container -->
  <div id="container" class="clearfix js-disabled">

    <!--BEGIN #content -->
    <div id="content">

      <%= render 'layouts/widget_overlay' %>

      <%= render 'layouts/sidebar' %>
      
      <!--BEGIN #primary .hfeed-->
      <div id="primary" class="hfeed">

        <!--BEGIN #masonry-->
        <div id="masonry">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>

        </div>
        <%= render 'layouts/footer' %>
        <script type='text/javascript' src='http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/js/jquery.custom.js?ver=1.0'></script>
      </div>
    </div>
  </div>
</body>
</html>
